// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.563;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;



$theme-colors: (
	'primary': #F37022,
	'dark': #4A4A4A,
	'info': #273B92,
	'success': #198754,
	'danger': #dc3545,
  	'gray-1': #F8F8F8, 
	'gray-2': #F7F7F7, 
	'gray-3': #E8E8E8, 
	'gray-4': #BCBCBC, 
	'gray-5': #B5B5B5, 
	'gray-6': #9D9D9D, 
	'gray-7': #838383, 
	'gray-8': #707070,  
	'accent': #CD1875,
);